openapi: 3.0.0
info:
  title: Puntospoint API
  version: 1.0.0
  contact:
    name: César Parra
    email: cesar.parra@puntospoint.com
    url: 'https://www.puntospoint.com'
  license:
    name: Apache-2.0
    url: 'https://opensource.org/licenses/Apache-2.0'
  x-logo:
    url: "https://canjeonline-cmrpuntos.puntospoint.com/static/media/logopuntospoint.e1d7d96a.svg"
    backgroundColor: "transparent"
    altText: "Puntospoint"
  description: |
    Bienvenido a la documentación oficial de los servicios de Puntospoint (API Rest).
servers:
  - url: https://api.puntospoint.com
    description: API para ambiente de producción
  - url: https://api-qa.puntospoint.com
    description: API para ambiente de pruebas
paths:
  /element/clients/events/available:
    get:
      tags:
        - products
      summary: Listado de productos activos
      description: Listado de experiencias elegidas para el catálogo
      operationId: getActiveEvents
      deprecated: false
      security:
        - JWT: []
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actived_events_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/actived_events_response'
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                  <products>
                    <product>
                      <id-0>string</id-0>
                      <state>string</state>
                      <sku>string</sku>
                      <starting-at>string</starting-at>
                      <ending-at>string</ending-at>
                      <validity-starting-at>string</validity-starting-at>
                      <validity-ending-at>string</validity-ending-at>
                      <clients-confirm-message>string</clients-confirm-message>
                      <stock>
                        <available-stock>number</available-stock>
                        <swaps>number</swaps>
                        <purchases-count>number</purchases-count>
                      </stock>
                      <eco>
                        <fancy-name>string</fancy-name>
                      </eco>
                      <experience>
                        <name>string</name>
                        <image-url>string</image-url>
                      </experience>
                    </product>
                  </products>
                
  /element/clients/events/available/exchanges:
    get:
      tags:
        - products
      summary: Opciones de compras activas
      description: Listado de todas las opciones de compra disponibles para los productos activos
      operationId: getActiveExchangesEvents
      deprecated: false
      security:
        - JWT: []
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actived_exchanges_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/actived_exchanges_response'
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                  <products>
                    <product>
                      <id>string</id>
                      <sku>string</sku>
                      <exchanges>
                        <exchange>
                          <id>string</id>
                          <points>number</points>
                          <cash>number</cash>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                        </exchange>
                      </exchanges>
                    </product>
                  </products>
                
  /element/clients/events/available/stocks:
    get:
      tags:
        - products
      summary: Stocks de productos activos
      description: Listado de todas las opciones de compra disponibles para los productos activos
      operationId: getActiveStocksEvents
      deprecated: false
      security:
        - JWT: []
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actived_stocks_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/actived_stocks_response'
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                  <products>
                    <product>
                      <id>string</id>
                      <sku>string</sku>
                      <stock>
                        <available-stock>number</available-stock>
                        <swaps>number</swaps>
                        <purchases-count>number</purchases-count>
                      </stock>
                    </product>
                  </products>
                

  /element/login:
    post:
      summary: Login
      description: Endpoint para obtener token para la autorización de requests (JWT).
      operationId: login
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: base64
          required: true
      responses:
        200:
          content:
            application/json:
              schema:
                type: string
                format: jwt
              examples:
                success:
                  summary: JSON Web Token
                  value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwcnVlYmEiLCJpYXQiOjE1MTYyMzkwMjJ9.NBd9pvgsp5kBEC26-4vu-kYSyvlaN4YTQDtytwvioII
  /element/clients/vouchers/carts:
    post:
      tags:
        - vouchers_cart
      summary: Crear carro de compra con vouchers
      description: Para crear vouchers de un carrito se debe ejecutar este endpoint.
      operationId: vouchersCartCreate
      responses:
        201:
          description: Carro creado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
              example: |
                <?xml version="1.0" encoding="UTF-8">
                  <cart>
                    <rut>string</rut>
                    <email>string</email>
                    <created-at>string</created-at>
                    <id-0>string</id-0>
                    <paid-at>string</paid-at>
                    <state>string</state>
                    <cart-exchanges>
                      <cart-exchange>
                        <created-at>string</created-at>
                        <amount>number</amount>
                        <id-0>string</id-0>
                        <exchange>
                          <cash>number</cash>
                          <points>number</points>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                          <id-0>c81e728d9d4c2f636f067f89cc14862c</id-0>
                          <product>
                            <id-0>string</id-0>
                            <state>string</state>
                            <sku>string</sku>
                            <starting-at>string</starting-at>
                            <ending-at>string</ending-at>
                            <validity-starting-at>string</validity-starting-at>
                            <validity-ending-at>string</validity-ending-at>
                            <clients-confirm-message>string</clients-confirm-message>
                            <stock>
                              <available-stock>number</available-stock>
                              <swaps>number</swaps>
                              <purchases-count>number</purchases-count>
                            </stock>
                            <eco>
                              <fancy-name>string</fancy-name>
                            </eco>
                            <experience>
                              <name>string</name>
                              <image-url>string</image-url>
                            </experience>
                          </product>
                        </exchange>
                      </cart-exchange>
                    </cart-exchanges>
                    <vouchers/>
                  </cart>
                
      deprecated: false
      security:
        - JWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cart_creation_request'
          application/xml:
            schema:
              $ref: '#/components/schemas/cart_creation_request'
            example: |
              <?xml version="1.0"?>
              <cart-exchanges-attributes type="array">
                <cart-exchanges-attribute>
                  <exchange-id-0>string</exchange-id-0>
                  <amount>number</amount>
                </cart-exchanges-attribute>
              </cart-exchanges-attributes>

    summary: ''
  /element/clients/vouchers/carts/{id}:
    get:
      tags:
        - vouchers_cart
      summary: Obtiene información de un carro.
      operationId: vouchersCartById
      parameters:
        - name: id
          in: path
          description: Cart Id
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
              example: |
                <?xml version="1.0" encoding="UTF-8">
                  <cart>
                    <rut>string</rut>
                    <email>string</email>
                    <created-at>string</created-at>
                    <id-0>string</id-0>
                    <paid-at>string</paid-at>
                    <state>string</state>
                    <cart-exchanges>
                      <cart-exchange>
                        <created-at>string</created-at>
                        <amount>number</amount>
                        <id-0>string</id-0>
                        <exchange>
                          <cash>number</cash>
                          <points>number</points>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                          <id-0>c81e728d9d4c2f636f067f89cc14862c</id-0>
                          <product>
                            <id-0>string</id-0>
                            <state>string</state>
                            <sku>string</sku>
                            <starting-at>string</starting-at>
                            <ending-at>string</ending-at>
                            <validity-starting-at>string</validity-starting-at>
                            <validity-ending-at>string</validity-ending-at>
                            <clients-confirm-message>string</clients-confirm-message>
                            <stock>
                              <available-stock>number</available-stock>
                              <swaps>number</swaps>
                              <purchases-count>number</purchases-count>
                            </stock>
                            <eco>
                              <fancy-name>string</fancy-name>
                            </eco>
                            <experience>
                              <name>string</name>
                              <image-url>string</image-url>
                            </experience>
                          </product>
                        </exchange>
                      </cart-exchange>
                    </cart-exchanges>
                    <vouchers/>
                  </cart>
                
        404:
          description: Carro no encontrado
      deprecated: false
      security:
        - JWT: []
      requestBody:
        required: false
  /element/clients/vouchers/carts/{id}/checkout:
    post:
      tags:
        - vouchers_cart
      summary: Reserva de stock de los vouchers del carro.
      description: Cuando cliente inicie checkout se deben realizar la request a este endopoint para reservar el stock de los vouchers a comprar.
      operationId: vouchersCartCheckoutById
      parameters:
        - name: id
          in: path
          description: Cart Id
          required: true
          schema:
            type: string
      responses:
        200:
          description: Carro reservado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
              example: |
                <?xml version="1.0" encoding="UTF-8">
                  <cart>
                    <rut>string</rut>
                    <email>string</email>
                    <created-at>string</created-at>
                    <id-0>string</id-0>
                    <paid-at>string</paid-at>
                    <state>string</state>
                    <cart-exchanges>
                      <cart-exchange>
                        <created-at>string</created-at>
                        <amount>number</amount>
                        <id-0>string</id-0>
                        <exchange>
                          <cash>number</cash>
                          <points>number</points>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                          <id-0>c81e728d9d4c2f636f067f89cc14862c</id-0>
                          <product>
                            <id-0>string</id-0>
                            <state>string</state>
                            <sku>string</sku>
                            <starting-at>string</starting-at>
                            <ending-at>string</ending-at>
                            <validity-starting-at>string</validity-starting-at>
                            <validity-ending-at>string</validity-ending-at>
                            <clients-confirm-message>string</clients-confirm-message>
                            <stock>
                              <available-stock>number</available-stock>
                              <swaps>number</swaps>
                              <purchases-count>number</purchases-count>
                            </stock>
                            <eco>
                              <fancy-name>string</fancy-name>
                            </eco>
                            <experience>
                              <name>string</name>
                              <image-url>string</image-url>
                            </experience>
                          </product>
                        </exchange>
                      </cart-exchange>
                    </cart-exchanges>
                    <vouchers/>
                  </cart>
                
        404:
          description: Carro no encontrado
        412:
          description: Carro no disponible para checkout (estado no "created")

      deprecated: false
      security:
        - JWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cart_checkout_request'
          application/xml:
            schema:
              $ref: '#/components/schemas/cart_checkout_request'
            example: |
              <?xml version="1.0"?>
              <checkout>
                <rut>string</rut>
                <email>string</email>
              </checkout>
  /element/clients/vouchers/carts/{id}/confirm:
    post:
      tags:
        - vouchers_cart
      summary: Confirma el pago de un carro de compras
      description: Una vez reservado (checkout) el carro de compra, si se cofirma el pago realizando la ejecución de este endpoint, entonces el carro se marca como pagado y se realizan los envíos de los vouchers al cliente.
      operationId: vouchersCartConfirmById
      parameters:
        - name: id
          in: path
          description: Cart Id
          required: true
          schema:
            type: string
      responses:
        200:
          description: Carro confirmado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
              example: |
                <?xml version="1.0" encoding="UTF-8">
                  <cart>
                    <rut>string</rut>
                    <email>string</email>
                    <created-at>string</created-at>
                    <id-0>string</id-0>
                    <paid-at>string</paid-at>
                    <state>string</state>
                    <cart-exchanges>
                      <cart-exchange>
                        <created-at>string</created-at>
                        <amount>number</amount>
                        <id-0>string</id-0>
                        <exchange>
                          <cash>number</cash>
                          <points>number</points>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                          <id-0>c81e728d9d4c2f636f067f89cc14862c</id-0>
                          <product>
                            <id-0>string</id-0>
                            <state>string</state>
                            <sku>string</sku>
                            <starting-at>string</starting-at>
                            <ending-at>string</ending-at>
                            <validity-starting-at>string</validity-starting-at>
                            <validity-ending-at>string</validity-ending-at>
                            <clients-confirm-message>string</clients-confirm-message>
                            <stock>
                              <available-stock>number</available-stock>
                              <swaps>number</swaps>
                              <purchases-count>number</purchases-count>
                            </stock>
                            <eco>
                              <fancy-name>string</fancy-name>
                            </eco>
                            <experience>
                              <name>string</name>
                              <image-url>string</image-url>
                            </experience>
                          </product>
                        </exchange>
                      </cart-exchange>
                    </cart-exchanges>
                    <vouchers/>
                  </cart>
                
        404:
          description: Carro no encontrado
        412:
          description: Carro no disponible para confirmar (estado no "reserved")

      deprecated: false
      security:
        - JWT: []
      requestBody:
        required: false
    summary: ''
  /element/clients/vouchers/carts/{id}/void:
    post:
      tags:
        - vouchers_cart
      summary: Anula la creación de carro y los vouchers asociados.
      description: Una vez reservado (checkout) el carro de compra, si no se cofirma el pago, entonces puedes liberar el stock reservado del carro. Esta acción es irreversible.
      operationId: vouchersCartVoidId
      parameters:
        - name: id
          in: path
          description: Cart Id
          required: true
          schema:
            type: string
      responses:
        200:
          description: Carro confirmado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/cart_detail_response'
              example: |
                <?xml version="1.0" encoding="UTF-8">
                  <cart>
                    <rut>string</rut>
                    <email>string</email>
                    <created-at>string</created-at>
                    <id-0>string</id-0>
                    <paid-at>string</paid-at>
                    <state>string</state>
                    <cart-exchanges>
                      <cart-exchange>
                        <created-at>string</created-at>
                        <amount>number</amount>
                        <id-0>string</id-0>
                        <exchange>
                          <cash>number</cash>
                          <points>number</points>
                          <discount-activated>boolean</discount-activated>
                          <discounted-points>number</discounted-points>
                          <id-0>c81e728d9d4c2f636f067f89cc14862c</id-0>
                          <product>
                            <id-0>string</id-0>
                            <state>string</state>
                            <sku>string</sku>
                            <starting-at>string</starting-at>
                            <ending-at>string</ending-at>
                            <validity-starting-at>string</validity-starting-at>
                            <validity-ending-at>string</validity-ending-at>
                            <clients-confirm-message>string</clients-confirm-message>
                            <stock>
                              <available-stock>number</available-stock>
                              <swaps>number</swaps>
                              <purchases-count>number</purchases-count>
                            </stock>
                            <eco>
                              <fancy-name>string</fancy-name>
                            </eco>
                            <experience>
                              <name>string</name>
                              <image-url>string</image-url>
                            </experience>
                          </product>
                        </exchange>
                      </cart-exchange>
                    </cart-exchanges>
                    <vouchers/>
                  </cart>
                
        404:
          description: Carro no encontrado
        412:
          description: Carro no disponible para confirmar (estado no "reserved")

      deprecated: false
      security:
        - JWT: []
      requestBody:
        required: false
    summary: ''
components:
  links: {}
  callbacks: {}
  examples:
  schemas:
    events_exchanges:
      type: array
      description: Listado de opciones de compras disponibles
      items:
        type: object
        properties:
          id_0:
            type: string
            description: Id de opción de compra
          cash:
            type: number
            description: Monto en dinero requerido para comprar un voucher
          points:
            type: number
            description: Puntos requeridos para canjear un voucher
          discount_activated:
            type: boolean
            description: Si está o no activado el descuento (solo puntos)
          discounted_points:
            type: number
            description: Puntos en descuento

    cart_detail_response:
      type: object
      properties:
        id_0:
          type: string
          description: Id de carro de compra
        rut:
          type: string
          description: Rut de cliente asociado al carrito de compra
        email:
          type: string
          description: Email del cliente
          format: email
        state:
          type: string
          enum:
            - created
            - expired
            - reserved
            - paid
            - voided
          descripción: Estado del carro de compras
        created_at:
          type: string
          description: Fecha y hora de creación del carro de compra
          format: iso8601
        paid_at:
          type: string
          description: Fecha y hora de pago carro de compra
          format: iso8601
        cart_exchanges:
          type: array
          descriptions: Listado de items del carro de compra
          items:
            type: object
            properties:
              created_at:
                type: string
                description: Fecha y hora de creación del carro de compra
                format: iso8601
              amount:
                type: number
                description: Cantidad de vouchers del item
              exchange:
                type: object
                description: Opción de pago
                properties:
                  id_0:
                    type: string
                    description: Id de opción de compra
                  cash:
                    type: number
                    description: Monto en dinero requerido para comprar un voucher
                  points:
                    type: number
                    description: Puntos requeridos para canjear un voucher
                  discount_activated:
                    type: boolean
                    description: Si está o no activado el descuento (solo puntos)
                  discounted_points:
                    type: number
                    description: Puntos en descuento
                  product:
                    type: object
                    description: Producto asociado a la opción de pago.
                    properties:
                      id_0:
                        type: string
                        description: Id del producto
                      state:
                        type: string
                        description: Estado del producto
                        enum:
                          - published
                          - taken
                      client_confirm_message:
                        type: string
                        description: Mensaje que debe aceptar el cliente antes de realizar la compra.
                        format: html
                      provider:
                        type: object
                        description: Información respecto al proveedor de la experiencia
                        properties:
                          fancy_name:
                            type: string
                            description: Nombre comercial del proveedor
                      name:
                        type: string
                        description:  Nombre del producto
                      sku:
                        type: string
                        description: SKU del producto
                      images:
                        type: array
                        description: Listado de urls de imagenes adicionales e imagen principal del producto
                      description:
                        type: object
                        description: Información respecto al producto
                        properties:
                          details:
                            type: string
                            description: Detalles o descripción de la experiencia
                            format: html
                          addresses:
                            type: string
                            description: Direcciones de donde se puede hacer uso el voucher
                            format: html
                          instructions:
                            type: string
                            description: Instrucciones de uso del voucher
                            format: html
                          conditions:
                            type: string
                            description: Condiciones de la experiencia
                            format: html
                      exchanges:
                        $ref: '#/components/schemas/events_exchanges'
                      validation_availability:
                        type: object
                        description: Fechas en las cuales se puede hacer uso de los vouchers en el comercio
                        properties:
                          validity_starting_at:
                            type: string
                            description: Fecha desde la cual se puede hacer uso de los vouchers en el comercio
                          validity_ending_at:
                            type: string
                            description: Fecha hasta la cual se puede hacer uso de los vouchers en el comercio
                      purchase_availability:
                        type: object
                        description: Fechas en las cuales está disponible para registrar compras
                        properties:
                          starting_at:
                            type: string
                            description: Fecha desde la cual está disponible para registrar compras
                          ending_at:
                            type: string
                            description: Fecha hasta la cual está disponible para registrar compras
                      price:
                        type: number
                        description: Costo del voucher
                      stock:
                        type: object
                        description: Información respecto al stock del producto
                        properties:
                          available_stock:
                            type: number
                            description: Cantidad de stock remanente (stock inicial - compras)
                          swaps:
                            type: number
                            description: Initial stock
                          purchases_count:
                            type: number
                            description: Cantidad de compras o canjes asociados
        vouchers:
          type: array
          description: Listado de vouchers
          items:
            type: object
            properties:
              state:
                type: string
                description: Estado
                enum:
                  - sold
                  - validated
                  - redeemed
              code:
                type: string
                description: Código de seguridad
              validated_at:
                type: string
                description: Fecha y hora de validación (state = validated)
              experience_name:
                type: string
                description: Nombre de experiencia
              validity_starting_at:
                type: string
                description: Fecha desde la cual se puede hacer uso del voucher en el comercio
              validity_ending_at:
                type: string
                description: Fecha hasta la cual se puede hacer uso del voucher en el comercio
              eco_name:
                type: string
                description: Nombre del proveedor
              points:
                type: number
                description: Puntos utilizados en la compra del voucher
              amount:
                type: number
                description: Dinero utilizado en al compra del voucher
              price:
                type: number
                description: Costo del voucher
              exchange_id_0:
                type: string
                description: Id de Opción de compra escogida

    cart_checkout_request:
      type: object
      properties:
        rut:
          type: string
          description: Rut de Cliente
        email:
          type: string
          description: >-
            Email del cliente, al cual se le enviarán los vouchers una vez
            confirmado el carro

    cart_creation_request:
      type: object
      properties:
        cart_exchange_attributes:
          type: array
          description: Items del carro
          items:
            type: object
            properties:
              exchange_id_0:
                type: string
                description: Id de Opción de compra escogida
              amount:
                type: string
                description: Cantidad de vouchers del item

    actived_stocks_response:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: Id del producto
          sku:
            type: string
            description: Sku del producto
          stock:
            type: object
            description: Información respecto al stock del producto
            properties:
              available_stock:
                type: number
                description: Cantidad de stock remanente (stock inicial - compras)
              swaps:
                type: number
                description: Initial stock
              purchases_count:
                type: number
                description: Cantidad de compras o canjes asociados

    actived_exchanges_response:
      type: array
      items:
        type: object
        properties:
          id_0:
            type: string
            description: Id del producto
          sku:
            type: string
            description: Sku del producto
          exchanges:
            $ref: '#/components/schemas/events_exchanges'

    actived_events_response:
      type: array
      items:
        type: object
        properties:
          id_0:
            type: string
            description: Id del producto
          state:
            type: string
            description: Estado del producto
            enum:
              - published
              - taken
          client_confirm_message:
            type: string
            description: Mensaje que debe aceptar el cliente antes de realizar la compra.
            format: html
          provider:
            type: object
            description: Información respecto al proveedor de la experiencia
            properties:
              fancy_name:
                type: string
                description: Nombre comercial del proveedor
          name:
            type: string
            description:  Nombre del producto
          sku:
            type: string
            description: SKU del producto
          images:
            type: array
            description: Listado de urls de imagenes adicionales e imagen principal del producto
          description:
            type: object
            description: Información respecto al producto
            properties:
              details:
                type: string
                description: Detalles o descripción de la experiencia
                format: html
              addresses:
                type: string
                description: Direcciones de donde se puede hacer uso el voucher
                format: html
              instructions:
                type: string
                description: Instrucciones de uso del voucher
                format: html
              conditions:
                type: string
                description: Condiciones de la experiencia
                format: html
          exchanges:
            $ref: '#/components/schemas/events_exchanges'
          validation_availability:
            type: object
            description: Fechas en las cuales se puede hacer uso de los vouchers en el comercio
            properties:
              validity_starting_at:
                type: string
                description: Fecha desde la cual se puede hacer uso de los vouchers en el comercio
              validity_ending_at:
                type: string
                description: Fecha hasta la cual se puede hacer uso de los vouchers en el comercio
          purchase_availability:
            type: object
            description: Fechas en las cuales está disponible para registrar compras
            properties:
              starting_at:
                type: string
                description: Fecha desde la cual está disponible para registrar compras
              ending_at:
                type: string
                description: Fecha hasta la cual está disponible para registrar compras
          price:
            type: number
            description: Costo del voucher
          stock:
            type: object
            description: Información respecto al stock del producto
            properties:
              available_stock:
                type: number
                description: Cantidad de stock remanente (stock inicial - compras)
              swaps:
                type: number
                description: Initial stock
              purchases_count:
                type: number
                description: Cantidad de compras o canjes asociados
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: |
        Para ser autorizado para acceder a los endpoints de Puntospoint lo debes hacer enviando el token (Bearer) obtenido en el **login**.
        Para más información, véase https://jwt.io/
tags:
  - name: vouchers_cart
    description: Creación de vouchers utilizando un carro de compras. <br /> <br /> <img src="states.png" /> <br /> <br />
